<!-- Add this button to your listing show page -->
<div class="text-center mt-4">
  <a href="/listings/<%= listing._id %>/book" class="btn btn-danger btn-lg px-5 py-3">
    <i class="fa-solid fa-calendar-check"></i> Book This Place - $<%= listing.price %>/night
  </a>
</div>